<div class="row">

  <div class="col-xxl-12">
    <ngx-technical-companies></ngx-technical-companies>
  </div>

</div>

<div class="row">
  <div class="col-md-12 col-lg-4 col-xxxl-3">
        <nb-alert status="info">{{ technical.current }}</nb-alert>
  </div>  
</div>

<div class="row" >
  <div class="col-xxl-12">
    <div class="row">
    <div class="col-md-6">
      <ngx-volume></ngx-volume>
    </div>
    <div class="col-md-6">
      <ngx-gain></ngx-gain>
    </div>
  </div>

  <div class="col-xxl-12">
    <div class="row">
      <div class="col-md-6">
        <ngx-highs></ngx-highs>
      </div>
      <div class="col-md-6">
        <ngx-moving></ngx-moving>
      </div>
    </div>
  </div>


</div>