<nb-card size="medium">

    <nb-card-header>
        <span>Price Gain/Loss</span>

    </nb-card-header>

    <nb-list class="user-activity-list">
        <nb-list-item class="item">
            <span>Duration</span>
            <span>{{ technical.highs["Duration"][0]}}</span>
            <span>{{ technical.highs["Duration"][1]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>One Week</span>
            <span>{{ technical.highs["One Week"][0]}}</span>
            <span>{{ technical.highs["One Week"][1]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Two Weeks</span>
            <span>{{ technical.highs["Two Weeks"][0]}}</span>
            <span>{{ technical.highs["Two Weeks"][1]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>One Month</span>
            <span>{{ technical.highs["One Month"][0]}}</span>
            <span>{{ technical.highs["One Month"][1]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Three Months</span>
            <span>{{ technical.highs["Three Months"][0]}}</span>
            <span>{{ technical.highs["Three Months"][1]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Six Months</span>
            <span>{{ technical.highs["Six Months"][0]}}</span>
            <span>{{ technical.highs["Six Months"][1]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>One Year</span>
            <span>{{ technical.highs["One Year"][0]}}</span>
            <span>{{ technical.highs["One Year"][1]}}</span>
        </nb-list-item>
    </nb-list>


</nb-card>