<nb-card size="medium">

    <nb-card-header>
        <span>Key Ratios</span>

    </nb-card-header>

    <nb-list class="user-activity-list">
        <nb-list-item class="item">
            <span>Earning /Share</span>
            <span>{{ fundamental.ratios["Earning /Share"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Diluted EPS TTM</span>
            <span>{{ fundamental.ratios["Diluted EPS TTM"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>PE Ratio</span>
            <span>{{ fundamental.ratios["PE Ratio"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Div / Share</span>
            <span>{{ fundamental.ratios["Div / Share"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Div Yield %</span>
            <span>{{ fundamental.ratios["Div Yield %"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>PEG Ratio</span>
            <span>{{ fundamental.ratios["PEG Ratio"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Trailing PE</span>
            <span>{{ fundamental.ratios["Trailing PE"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Forward PE</span>
            <span>{{ fundamental.ratios["Forward PE"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Price Sales TTM</span>
            <span>{{ fundamental.ratios["Price Sales TTM"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Price Book MRQ</span>
            <span>{{ fundamental.ratios["Price Book MRQ"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Enterprise Value / Revenue</span>
            <span>{{ fundamental.ratios["Enterprise Value / Revenue"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Enterprise Value / EBITDA</span>
            <span>{{ fundamental.ratios["Enterprise Value / EBITDA"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Return on Asset TTM</span>
            <span>{{ fundamental.ratios["Return on Asset TTM"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Return on Equity TTM</span>
            <span>{{ fundamental.ratios["Return on Equity TTM"]}}</span>
        </nb-list-item>
    </nb-list>

</nb-card>