<!-- <nb-card size="medium">

    <nb-card-header>
        <span>Key Balance</span>

    </nb-card-header>

    <nb-list class="user-activity-list">
        <nb-list-item class="item">
            <span>Period</span>
            <span>{{ fundamental.balance["Period"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Common Stock</span>
            <span>{{ fundamental.balance["Common Stock"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Current Liabilities</span>
            <span>{{ fundamental.balance["Current Liabilities"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Total Liabilities</span>
            <span>{{ fundamental.balance["Total Liabilities"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Current Assets</span>
            <span>{{ fundamental.balance["Current Assets"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Total Assets</span>
            <span>{{ fundamental.balance["Total Assets"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Working capital</span>
            <span>{{ fundamental.balance["Working capital"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Accounts Payable</span>
            <span>{{ fundamental.balance["Accounts Payable"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Inventory</span>
            <span>{{ fundamental.balance["Inventory"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Net Receivable</span>
            <span>{{ fundamental.balance["Net Receivable"]}}</span>
        </nb-list-item>
    </nb-list>


</nb-card> -->