<div class="row">

  <div class="col-xxl-12">
    <ngx-fundamental-companies></ngx-fundamental-companies>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-lg-4 col-xxxl-3">
        <nb-alert status="info">{{ fundamental.current }}</nb-alert>
  </div>  
</div>

<div class="row">
  <div class="col-xxl-12">
    <div class="row">
      <div class="col-md-6">
        <ngx-financial-highlights></ngx-financial-highlights>
      </div>
      <div class="col-md-6">
        <ngx-key-ratios></ngx-key-ratios>
      </div>
    </div>
  </div>

  <div class="col-xxl-12">
    <div class="row">
    <div class="col-md-6">
      <ngx-key-balance></ngx-key-balance>
    </div>
    <div class="col-md-6">
      <ngx-key-cash></ngx-key-cash>
    </div>
  </div>
</div>