<nb-card size="medium">

    <nb-card-header>
        <span>Financial Highlights</span>

    </nb-card-header>

    <nb-list class="user-activity-list">
        <nb-list-item class="item">
            <span>EOD Close</span>
            <span>{{ fundamental.financial["EOD Close"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Market Cap</span>
            <span>{{ fundamental.financial["Market Cap"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>EBITDA</span>
            <span>{{ fundamental.financial["EBITDA"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Book Value</span>
            <span>{{ fundamental.financial["Book Value"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Profit margin</span>
            <span>{{ fundamental.financial["Profit margin"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Qtr Revenue Growth YOY</span>
            <span>{{ fundamental.financial["Qtr Revenue Growth YOY"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Qtr Earning Growth YOY</span>
            <span>{{ fundamental.financial["Qtr Earning Growth YOY"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Revenue TTM</span>
            <span>{{ fundamental.financial["Revenue TTM"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Gross Profit TTM</span>
            <span>{{ fundamental.financial["Gross Profit TTM"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Revenue Per Share TTM</span>
            <span>{{ fundamental.financial["Revenue Per Share TTM"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Face Value</span>
            <span>{{ fundamental.financial["Face Value"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Enterprise Value</span>
            <span>{{ fundamental.financial["Enterprise Value"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Outstanding Shares</span>
            <span>{{ fundamental.financial["Outstanding Shares"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Consensus Target</span>
            <span>{{ fundamental.financial["Consensus Target"]}}</span>
        </nb-list-item>
    </nb-list>

</nb-card>