<div class="row">
  <div class="col-xxl-12">
    <nb-card>
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col" >Event Name</th>
              <th scope="col" >End Date/Time</th>
              <th scope="col" >Status</th>
              <th scope="col" >Last</th>
              <th scope="col" >Previous</th>
              <th scope="col" >Forecast</th>
              <th scope="col" >Total</th>
              <th scope="col" >Options</th>
              <th scope="col" >Option 1</th>
              <th scope="col" >Option 2</th>
              <th scope="col" >Option 3</th>
              <th scope="col" >Option 4</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of poll.polls ;  let i = index">
              <td *ngIf="p.pollType == 'ec_event'" style="text-align: left;" class="my-text">{{ p.pollQues  }}</td>
              <td *ngIf="p.pollType == 'ec_event'" class="my-text">{{ p.endDate }}</td>
              <td *ngIf="p.pollType == 'ec_event'" class="my-text">{{ p.previousData }}</td>
              <td *ngIf="p.pollType == 'ec_event'" class="my-text">{{ p.pollAcceptStatus }}</td>
              <td *ngIf="p.pollType == 'ec_event'" class="my-text">{{ p.lastData }}</td>
              <td *ngIf="p.pollType == 'ec_event'" class="my-text">{{ p.forecastData }}</td>
              <td *ngIf="p.pollType == 'ec_event'" class="my-text">{{ p.totalVotes }}</td>
              <td *ngIf="p.pollType == 'ec_event'" class="my-text">{{ p.pollOptions | replace: '[#^]':  ',' }}</td>
              <td *ngIf="p.pollType == 'ec_event'" class="my-text">{{ p.option1 }}</td>
              <td *ngIf="p.pollType == 'ec_event'" class="my-text">{{ p.option2 }}</td>
              <td *ngIf="p.pollType == 'ec_event'" class="my-text">{{ p.option3 }}</td>
              <td *ngIf="p.pollType == 'ec_event'" class="my-text">{{ p.option4 }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card>
  </div>
</div>