<div class="body">

    <div class="anim" [ngClass]="{hide: table[0] != undefined}">
        <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
    </div>

    <table class="table table-striped tb-l" [ngClass]="{hide: table[0] == undefined}" *ngIf="table[0] != null || table[0] != undefined">
        <thead class="thead-dark"s>
            <ng-container class="thead-dark" *ngFor="let row of table[0].tableTitle">
                <td *ngIf="row[0] != ''">{{ row[0] }}</td>
                <td *ngIf="row[1] != ''">{{ row[1] }}</td>
                <td *ngIf="row[2] != ''">{{ row[2] }}</td>
                <td *ngIf="row[3] != ''">{{ row[3] }}</td>
                <td *ngIf="row[4] != ''">{{ row[4] }}</td>
                <td *ngIf="row[5] != ''">{{ row[5] }}</td>
                <td *ngIf="row[6] != ''">{{ row[6] }}</td>
                <td *ngIf="row[7] != ''">{{ row[7] }}</td>
                <td *ngIf="row[8] != ''">{{ row[8] }}</td>
                <td *ngIf="row[9] != ''">{{ row[9] }}</td>
            </ng-container>
        </thead>
        <tbody>
            <tr *ngFor="let row of table[0].tableData;  let i = index">
                <td *ngIf="row[0] != '' && i != 0">{{ row[0] }}</td>
                <td *ngIf="row[1] != '' && i != 0">{{ row[1] }}</td>
                <td *ngIf="row[2] != '' && i != 0">{{ row[2] }}</td>
                <td *ngIf="row[3] != '' && i != 0">{{ row[3] }}</td>
                <td *ngIf="row[4] != '' && i != 0">{{ row[4] }}</td>
                <td *ngIf="row[5] != '' && i != 0">{{ row[5] }}</td>
                <td *ngIf="row[6] != '' && i != 0">{{ row[6] }}</td>
                <td *ngIf="row[7] != '' && i != 0">{{ row[7] }}</td>
                <td *ngIf="row[8] != '' && i != 0">{{ row[8] }}</td>
                <td *ngIf="row[9] != '' && i != 0">{{ row[9] }}</td>
            </tr>
        </tbody>
    </table>

</div>