<nb-card size="medium">

    <nb-card-header>
        <span>Key Cash</span>

    </nb-card-header>

    <nb-list class="user-activity-list">
        <nb-list-item class="item">
            <span>Period</span>
            <span>{{ fundamental.cash["Period"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Cash EPS</span>
            <span>{{ fundamental.cash["Cash EPS"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Cash From Investment Activity</span>
            <span>{{ fundamental.cash["Cash From Investment Activity"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Cash From Financial Activity</span>
            <span>{{ fundamental.cash["Cash From Financial Activity"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Cash Operational Activity</span>
            <span>{{ fundamental.cash["Cash Operational Activity"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Net Cash Flow</span>
            <span>{{ fundamental.cash["Net Cash Flow"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>NetIncome</span>
            <span>{{ fundamental.cash["NetIncome"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Capital Expenditure</span>
            <span>{{ fundamental.cash["Capital Expenditure"]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>Change To Inventory</span>
            <span>{{ fundamental.cash["Change To Inventory"]}}</span>
        </nb-list-item>
    </nb-list>

</nb-card>