<nb-card size="medium">

    <nb-card-header>
        <span>Key Moving Average</span>

    </nb-card-header>

    <nb-list class="user-activity-list">
        <nb-list-item class="item">
            <span>5 Days</span>
            <span>{{ technical.moving["5 Days"][0]}}</span>
            <span>{{ technical.moving["5 Days"][1]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>15 Days</span>
            <span>{{ technical.moving["15 Days"][0]}}</span>
            <span>{{ technical.moving["15 Days"][1]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>20 Days</span>
            <span>{{ technical.moving["20 Days"][0]}}</span>
            <span>{{ technical.moving["20 Days"][1]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>50 Days</span>
            <span>{{ technical.moving["50 Days"][0]}}</span>
            <span>{{ technical.moving["50 Days"][1]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>100 Days</span>
            <span>{{ technical.moving["100 Days"][0]}}</span>
            <span>{{ technical.moving["100 Days"][1]}}</span>
        </nb-list-item>
        <nb-list-item class="item">
            <span>200 Days</span>
            <span>{{ technical.moving["200 Days"][0]}}</span>
            <span>{{ technical.moving["200 Days"][1]}}</span>
        </nb-list-item>
    </nb-list>


</nb-card>